<section class="project">
    <header class="section-hd">
        <span class="section-title-l"></span>
        <h2 class="section-title">个人项目</h2>
        <span class="section-title-r"></span>
    </header>
    <div class="section-bd">
        以下是我发起或参与的开源项目与文章，细节请点击链接查看

        <!--项目:Electron-->
        <div class="item">
            <header class="item-hd">
                <div class="item-name-wrap">
                    <span class="item-project">Electron</span>
                </div>
                <a class="link-icon" href="https://electronjs.org">
                    <%- include ../images/electron.logo.ejs %>
                </a>
            </header>
            <div class="item-bd">
                <ul>
                    <li>
                        <a href="https://i5sing.com">
                            <%- include ../images/i5sing.logo.ejs %>
                            i5SING
                        </a>
                        中国原创音乐基地桌面客户端
                    </li>
                    <li>
                        <a href="https://github.com/miaowing/dolphin">
                            <%- include ../images/dolphin.logo.ejs %>
                            Dolphin
                        </a>
                        MacOS海豚网络加速器，基于SSH动态端口转发实现
                    </li>
                    <li>
                        <a href="https://github.com/geeeeeeeeek/electronic-wechat">
                            electron-wechat
                        </a>
                        基于 Electron 封装的第三方微信客户端，参与bugfix
                    </li>
                    <li>
                        <a href="https://github.com/electron-userland/electron-forge">
                            electron-forge
                        </a>
                        Electron 脚手架项目，参与bugfix
                    </li>
                </ul>
            </div>
        </div>

        <!--项目:NodeJS-->
        <div class="item">
            <header class="item-hd">
                <div class="item-name-wrap">
                    <span class="item-project">NodeJS</span>
                </div>
                <a class="link-icon" href="https://nodejs.org">
                    <%- include ../images/nodejs.logo.ejs %>
                </a>
            </header>
            <div class="item-bd">
                <ul>
                    <li>
                        <a href="https://github.com/nest-cloud/nestcloud">NestCloud</a>
                        NestJS 微服务解决方案，包括服务注册发现，配置中心，负载均衡，定时任务，日志等模块
                    </li>
                    <li>
                        <a href="https://github.com/miaowing/nest-schedule">nest-schedule</a>
                        NestJS 声明式定时任务库
                    </li>
                    <li>
                        <a href="https://github.com/miaowing/mxb">mxb.cc</a>
                        KeystoneJS + NestJS + NextJS 开发的个人博客
                    </li>
                    <li>
                        <a href="https://mp.weixin.qq.com/s/0QGMBbQd0pBb0wmk7mN8FQ">
                            焱融云前端微服务架构的设计要点
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--项目:Kubernetes-->
        <div class="item">
            <header class="item-hd">
                <div class="item-name-wrap">
                    <span class="item-project">Kubernetes</span>
                </div>
                <a class="link-icon" href="https://kubernetes.io">
                    <%- include ../images/kubernetes.logo.ejs %>
                </a>
            </header>
            <div class="item-bd">
                <ul>
                    <li>
                        <a href="https://mp.weixin.qq.com/s/WqaEv_2b52M7xVX6G8TUKQ">
                            看焱融云 CSI 动态感知如何扩展 Kubernetes Scheduler
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
